@import "../../modules/constants.module";

.new-tab__settings-menu_common {
  &_btn-group {
    button {
      border: none transparent;
      border-bottom: 1px solid var(--menu-border-color);
      width: 100%;
      cursor: pointer;
      padding: 8px;
      background-color: transparent;
      transition: all $fast-transition, border-color $slow-transition;
    }

    button:last-child {
      border-bottom: 0;
    }
  }

  &-modal-content {
    display: flex;
    flex-direction: column;
    color: var(--text-color);

    &_radio-group {
      margin-bottom: 8px;
    }

    &_uploading {
      margin-bottom: 2px;
    }
  }
}