@import "../../modules/constants.module";

.new-tab__settings-menu_common {
  &-export-btn,
  &-import-btn,
  &-reset-btn {
    width: 100%;
    border: 0;
    cursor: pointer;
    padding: 8px;
    background-color: transparent;
    transition: $fast-transition;
  }

  &-import-btn {
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
  }

  &-modal-content {
    display: flex;
    flex-direction: column;

    &_radio-group {
      margin-bottom: 8px;
    }

    &_uploading {
      margin-bottom: 2px;
    }

    &.dark {
      color: $light-color;
    }
  }
}