@import "../../modules/constants.module";

.new-tab__settings-menu_search-engine {
  &-content {
    display: flex;
    flex-direction: column;

    &-checkbox-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &-selector {
      width: 100%;
      margin-bottom: 12px;
    }

    &-searxng-url {
      &_label {
        transition: $fast-transition;
        color: var(--text-color);
      }

      &_input {}
    }
  }
}