@import "../../constants";
@import "../../mixins";

.new-tab__settings-menu_search-engine {
  .settings-menu-collapse-dark();

  &-header {
    .settings-menu-collapse-header-item();

    svg path {
      transition: @fast-transition;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    span {
      transition: @fast-transition;
    }

    &-checkbox-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &-selector {
      .setting-menu-selector();
    }

    &-dropdown {
      .setting-menu-dropdown();
    }

    &.dark {
      &>.new-tab__settings-menu_search-engine-content-selector {
        .setting-menu-select-selector-dark();
      }

      span {
        transition: @fast-transition;
        color: @light-color;
      }
    }
  }
}