@import "../../constants";

.new-tab__settings-menu {
    position: absolute;
    right: 0;
    z-index: 10;

    &-button {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    &-icon {
        transition: @fast-transition;
    }
}