@import "../../modules/constants.module";
@import "../../modules/mixins.module";

.new-tab__settings-menu_update {
  border-radius: 0;

  &-content {
    display: flex;
    justify-content: space-between;

    &-check-button {
      @include button-component-colors;
    }
  }
}