@import "../../modules/constants.module";

.new-tab__settings-menu_update {
  border-radius: 0;

  &-content {
    display: flex;
    justify-content: space-between;

    &-check-button {
      color: var(--text-color);
      border-color: var(--border-color);
      background: transparent;
      transition: background-color $slow-transition, border-color $slow-transition, color $fast-transition;

      &:disabled {
        color: var(--disabled-text-color);
        border-color: var(--border-color);
        background-color: var(--disabled-bg-color);
      }
    }
  }
}