@import "../../constants";
@import "../../mixins";

.new-tab__settings-menu_wallpaper {
  border-radius: 0;

  &-content {
    &_choice {
      &-group {
        display: flex;
        justify-content: space-between;
      }

      &-option {
        transition: @fast-transition;
        border: 3px solid #b6b6b6;
        border-radius: 6px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &.selected {
          transition: @fast-transition;

          &.yandex {
            border-color: @ya-color;
          }

          &.google {
            border-color: @goo-color;
          }

          &.duckduckgo {
            border-color: @duck-color;
          }

          &.bing {
            border-color: @bing-color;
          }

          &.aol {
            border-color: @aol-color;
          }

          &.brave {
            border-color: @brave-color;
          }

          &.youcom {
            border-color: @youcom-color;
          }

          &.gibiru {
            border-color: @gibiru-color;
          }

          &.swisscows {
            border-color: @cows-color;
          }

          &.lycos {
            border-color: @lycos-color;
          }

          &.nigma {
            border-color: @nigma-color;
          }

          &.yahoo {
            border-color: @yahoo-color;
          }

          &.ecosia {
            border-color: @ecosia-color;
          }
        }
      }
    }
  }

  &-modal-content {
    &_uploading-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    &_uploading {
      max-width: 170px;

      &.auto-width {
        max-width: 100%;
      }

      &-button {
        min-width: 170px;
      }
    }
  }
}