@import "constants";

.dark-box-shadow() {
  background-color: @dark-color;
  box-shadow: 0 6px 16px 0 #FFFFFF14, 0 3px 6px -4px #FFFFFF1E, 0 9px 28px 8px #FFFFFF0C;
}

.setting-item-container() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-top: 1px solid @light-border-color;
  transition: border-color @slow-transition, color @fast-transition;
}

.settings-menu-collapse-dark() {
  &.dark {
    .ant-collapse-expand-icon {
      color: @light-color;
    }
  }
}

.settings-menu-regular-dark() {
  transition: border-color @slow-transition, color @fast-transition;
  border-color: @dark-border-color;
  color: @light-color;

  svg {
    transition: @fast-transition;
  }
}

.settings-menu-collapse-header-item() {
  transition: @fast-transition;
  .settings-menu-header-item();

  &.dark {
    color: @light-color;

    svg {
      stroke: @light-color;
      fill: @light-color;
    }
  }
}

.settings-menu-regular-header-item() {
  .settings-menu-header-item();

  svg {
    transition: @fast-transition;
  }
}

.settings-menu-header-item() {
  display: flex;
  align-items: center;
  font-weight: 500;

  svg {
    margin-right: 4px;
  }
}

.setting-menu-selection-item-dark() {
  &>.ant-select-selector {
    &>.ant-select-selection-item {
      transition: @fast-transition;
      color: @light-color;
    }
  }
}

.setting-menu-select-selector-dark() {
  &>.ant-select-selector {
    border-color: @dark-border-color;
    transition: @slow-transition;
    background-color: @dark-color;

    &>.ant-select-selection-item {
      transition: @fast-transition;
      color: @light-color;
    }
  }

  &>.ant-select-arrow {
    transition: @fast-transition;
    color: @light-color;

    &>.anticon {
      transition: @fast-transition;
    }
  }
}

.setting-menu-selector() {
  min-width: 105px;

  &>.ant-select-arrow {
    transition: @fast-transition;
  }

  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    transition: @slow-transition;
  }
}

.setting-menu-dropdown() {
  &-item {
    .dark-select-dropdown-item();
  }

  &.dark {
    .dark-box-shadow();
  }

  &.ant-select-dropdown {
    & .dark.ant-select-item-option-active:not(.ant-select-item-option-selected) {
      background-color: @dark-background-backlight;
    }
  }
}

.dark-select-dropdown-item() {
  .ant-select-item-option-content {
    transition: color @fast-transition;
  }

  &.dark {
    .ant-select-item-option-content {
      color: @light-color;
      transition: color @fast-transition;
    }

    &.ant-select-item-option-selected {
      .ant-select-item-option-content {
        color: #000000E0;
        transition: color @fast-transition;
      }
    }
  }
}

.open-update-popup {
  transition: 0.3s;
  right: 0;
}

.settings-menu-icon(@color) {
  transition: @fast-transition;
  fill: @color;
}