@import "constants";

.dark-select-dropdown() {
  background-color: @dark-color;
  box-shadow: 0 6px 16px 0 #FFFFFF14, 0 3px 6px -4px #FFFFFF1E, 0 9px 28px 8px #FFFFFF0C;
}

.settings-menu-header-item() {
  display: flex;
  align-items: center;
  font-weight: 500;
}