@import "constants";
@import "mixins";

.new-tab__search-engine-selector {
    display: flex;
    position: inherit;
    bottom: 10px;
    height: max-content;
    outline: 2px solid;
    border-radius: 8px;
    transition: outline-color @fast-transition;

    &-scrollable {
        display: inherit;
        transition: background-color @slow-transition;
        padding: 2px;
        overflow-x: auto;
        background-color: #ffffff80;
        max-width: 360px;

        &::-webkit-scrollbar {
            height: 0;
        }

        &.dark {
            background-color: #292c3580;
        }
    }

    &-left-button,
    &-right-button {
        transition: @fast-transition;
        cursor: pointer;
        border: 0;
        width: 24px;
        padding: 0;
    }

    &-left-button {
        border-radius: 6px 0 0 6px;
    }

    &-right-button {
        border-radius: 0 6px 6px 0;
    }

    &-droppable-aria {
        display: inherit;
    }

    &-item {
        width: 32px;
        height: 32px;
        margin: 2px;
        border-radius: 4px;
        transition: filter @slow-transition;
        filter: grayscale(100%);
        background-size: cover;

        &.yandex {
            background-image: url("../svgs/yandex/ya-icon.svg");

            &-en {
                background-image: url("../svgs/yandex/ya-icon-en.svg");
            }
        }

        &.bing {
            background-image: url("../svgs/bing/bing-icon.svg");
        }

        &.aol {
            background-image: url("../svgs/aol/aol-icon.svg");
        }

        &.brave {
            background-image: url("../svgs/brave/brave-icon.svg");
        }

        &.youcom {
            background-image: url("../svgs/youcom/you-com-icon.svg");
        }

        &.gibiru {
            transition: filter @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/gibiru/gibiru-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/gibiru/gibiru-icon.svg");
            }
        }

        &.swisscows {
            transition: filter @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/swisscows/swisscows-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/swisscows/swisscows-icon.svg");
            }
        }

        &.lycos {
            transition: filter @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/lycos/lycos-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/lycos/lycos-icon.svg");
            }
        }

        &.nigma {
            background-image: url("../svgs/nigma/nigma-icon.svg");
        }

        &.yahoo {
            transition: filter @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/yahoo/yahoo-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/yahoo/yahoo-icon.svg");
            }
        }

        &.google {
            background-image: url("../svgs/google/google-icon.svg");
        }

        &.duckduckgo {
            background-image: url("../svgs/duck/duck-icon.svg");
        }

        &.ecosia {
            background-image: url("../svgs/ecosia/ecosia-icon.svg");
        }

        &.selected {
            filter: grayscale(0);
        }
    }

    &.yandex {
        .scrollable-selector-theme(@ya-color);
    }

    &.bing {
        .scrollable-selector-theme(@bing-color);
    }

    &.aol {
        .scrollable-selector-theme(@aol-color);
    }

    &.brave {
        .scrollable-selector-theme(@brave-color);
    }

    &.youcom {
        .scrollable-selector-theme(@youcom-color);
    }

    &.gibiru {
        .scrollable-selector-theme(@gibiru-color);
    }

    &.swisscows {
        .scrollable-selector-theme(@cows-color);
    }

    &.lycos {
        .scrollable-selector-theme(@lycos-color);
    }

    &.nigma {
        .scrollable-selector-theme(@nigma-color);
    }

    &.yahoo {
        .scrollable-selector-theme(@yahoo-color);
    }

    &.google {
        .scrollable-selector-theme(@goo-color);
    }

    &.duckduckgo {
        .scrollable-selector-theme(@duck-color);
    }

    &.ecosia {
        .scrollable-selector-theme(@ecosia-color);
    }

    &._hidden {
        opacity: 0;
        width: 0;
    }
}
