@import "constants";

.new-tab__search-engine-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: inherit;
    bottom: 10px;
    height: max-content;

    &-item {
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 2px;
        border-radius: 4px;
        transition: filter @slow-transition;
        filter: grayscale(100%);

        &.yandex {
            background-image: url("../svgs/yandex/ya-icon.svg");

            &-en {
                background-image: url("../svgs/yandex/ya-icon-en.svg");
            }
        }

        &.bing {
            background-image: url("../svgs/bing/bing-icon.svg");
        }

        &.aol {
            background-image: url("../svgs/aol/aol-icon.svg");
        }

        &.brave {
            background-image: url("../svgs/brave/brave-icon.svg");
        }

        &.youcom {
            background-image: url("../svgs/youcom/you-com-icon.svg");
        }

        &.gibiru {
            transition: @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/gibiru/gibiru-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/gibiru/gibiru-icon.svg");
            }
        }

        &.swisscows {
            transition: @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/swisscows/swisscows-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/swisscows/swisscows-icon.svg");
            }
        }

        &.lycos {
            transition: @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/lycos/lycos-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/lycos/lycos-icon.svg");
            }
        }

        &.nigma {
            background-image: url("../svgs/nigma/nigma-icon.svg");
        }

        &.yahoo {
            transition: @slow-transition;
            filter: grayscale(0);
            background-image: url("../svgs/yahoo/yahoo-icon-grey.svg");

            &.selected {
                background-image: url("../svgs/yahoo/yahoo-icon.svg");
            }
        }

        &.google {
            background-image: url("../svgs/google/google-icon.svg");
        }

        &.duckduckgo {
            background-image: url("../svgs/duck/duck-icon.svg");
        }

        &.selected {
            filter: grayscale(0);
        }

        &.dragged {
            transition: filter @slow-transition;
            filter: grayscale(0);
            background-image: none;
            outline: 2px dashed #9aa0a6;
        }
    }
}
