@import "constants";
@import "mixins";

.new-tab__settings-menu {
    position: absolute;
    right: 0;
    z-index: 10;

    &-button {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    &-icon {
        padding: 2px;

        &-yandex {
            fill: @ya-color;
        }

        &-google {
            fill: @goo-color;
        }

        &-duckduckgo {
            fill: @duck-color;
        }

        &-bing {
            fill: @bing-color;
        }

        &-yahoo {
            fill: @yahoo-color;
        }
    }

    &-container {
        .ant-drawer-wrapper-body {
            transition: @slow-transition;

            &>.ant-drawer-body {
                &>.ant-collapse {
                    transition: @slow-transition;
                    background-color: transparent;
                    border: 1px solid @light-border-color;
                    border-radius: 0;

                    &>.ant-collapse-item {
                        &>.ant-collapse-header {
                            &>.ant-collapse-expand-icon {
                                &>.ant-collapse-arrow svg {
                                    transition: transform 0.3s, color @fast-transition;
                                }
                            }
                        }

                        &>.ant-collapse-content {
                            &>.ant-collapse-content-box {
                                padding: 0 16px 18px 44px;

                                &>.new-tab__settings-menu_dark-mode-content {
                                    &>.new-tab__settings-menu_dark-mode-content_selector {
                                        &>.ant-select-selector {
                                            // Установлен здесь, чтобы не переопределяться antd стилями
                                            transition: @slow-transition;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ant-drawer-title {
                transition: @fast-transition;
            }
        }

        &.dark {
            .ant-drawer-title {
                transition: @fast-transition;
                color: @light-color;
            }

            &>.ant-drawer-wrapper-body {
                &>.ant-drawer-body {
                    &>.ant-collapse {
                        border-color: @dark-border-color;
                    }
                }
            }
        }
    }

    &_dark-mode {
        border-radius: 0;

        &.dark {
            .ant-collapse-expand-icon {
                color: @light-color;
            }
        }

        &_header {
            display: flex;
            align-items: center;
            font-weight: 500;
            transition: @fast-transition;

            svg {
                transition: @fast-transition;
                margin-right: 4px;
            }

            &.dark {
                color: @light-color;

                svg {
                    stroke: @light-color;
                }
            }
        }

        &-content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &_selector {
                min-width: 100px;

                &>.ant-select-arrow {
                    transition: @fast-transition;
                }
            }

            &.dark {
                &>.new-tab__settings-menu_dark-mode-content_selector {
                    &>.ant-select-selector {
                        border-color: @dark-border-color;
                        transition: @slow-transition;
                        background-color: @dark-color;

                        &>.ant-select-selection-item {
                            transition: @fast-transition;
                            color: @light-color;
                        }
                    }

                    &>.ant-select-arrow {
                        transition: @fast-transition;
                        color: @light-color;
                    }
                }
            }

            &_dropdown {
                &-item {
                    .ant-select-item-option-content {
                        transition: color @fast-transition;
                    }

                    &.dark {
                        .ant-select-item-option-content {
                            color: @light-color;
                            transition: color @fast-transition;
                        }

                        &.ant-select-item-option-selected {
                            .ant-select-item-option-content {
                                color: #000000E0;
                                transition: color @fast-transition;
                            }
                        }
                    }
                }

                &.dark {
                    .dark-select-dropdown();
                }

                &.ant-select-dropdown {
                    & .dark.ant-select-item-option-active:not(.ant-select-item-option-selected) {
                        background-color: @dark-background-backlight;
                    }
                }
            }

            &_switcher {}
        }
    }

    &_language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        border: 1px solid @light-border-color;
        border-top: none;
        transition: border-color @slow-transition, color @fast-transition;

        &.dark {
            transition: border-color @slow-transition, color @fast-transition;
            border-color: @dark-border-color;
            color: @light-color;

            &>.new-tab__settings-menu_language-selector {
                &>.ant-select-selector {
                    &>.ant-select-selection-item {
                        transition: @fast-transition;
                        color: @light-color;
                    }
                }
            }

            svg {
                transition: @fast-transition;
                stroke: @light-color;
            }
        }

        &-header {
            display: flex;
            font-weight: 500;

            svg {
                transition: @fast-transition;
                margin: 0 6px 0 4px;
            }
        }

        &-selector {
            text-align: end;
            width: max-content;
            padding: 0 12px;
        }

        &-dropdown {
            transition: background-color @slow-transition;

            &-item {
                text-align: end;

                .ant-select-item-option-content {
                    transition: color @fast-transition;
                }

                &.dark {
                    .ant-select-item-option-content {
                        color: @light-color;
                        transition: color @fast-transition;
                    }

                    &.ant-select-item-option-selected {
                        .ant-select-item-option-content {
                            color: #000000E0;
                            transition: color @fast-transition;
                        }
                    }
                }
            }

            &.dark {
                .dark-select-dropdown();
            }

            &.ant-select-dropdown {
                & .dark.ant-select-item-option-active:not(.ant-select-item-option-selected) {
                    background-color: @dark-background-backlight;
                }
            }
        }
    }
}