@import "../constants";
@import "../mixins";

.new-tab__settings-menu_dark-mode {
  .settings-menu-collapse-dark();
  border-radius: 0;

  &-header {
    .settings-menu-collapse-header-item();

    svg {
      transition: @fast-transition;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-selector {
      min-width: 105px;

      &>.ant-select-arrow {
        transition: @fast-transition;
      }

      &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
        transition: @slow-transition;
      }
    }

    &.dark>.new-tab__settings-menu_dark-mode-content-selector {
      .setting-menu-select-selector-dark();
    }

    &-dropdown {
      &-item {
        .dark-select-dropdown-item();
      }

      &.dark {
        .dark-box-shadow();
      }

      &.ant-select-dropdown {
        & .dark.ant-select-item-option-active:not(.ant-select-item-option-selected) {
          background-color: @dark-background-backlight;
        }
      }
    }

    &_switcher {}
  }
}