$dark-color: #292c35;
$light-color: #fff;
$dark-text-color: #fff;
$light-text-color: #000000e0;
$dark-border-color: #525252;
$light-border-color: #d9d9d9;
$light-background-color: #ffffff0f;
$disabled-text-color: #FFFFFF3F;
$disabled-background-color: #FFFFFF0A;
$input-placeholder-color: #9aa0a6;
$highlighted-text-color: #ffff00;
$current-highlighted-text-color: #ff9632;

$ya-color: #fc0;
$aol-color: #524dfe;
$youcom-color: #2f41e0;
$gibiru-color: #fc243b;
$goo-color: #4285f4;
$duck-color: #DE5833;
$bing-color: #007DAA;
$brave-color: #ff2000;
$yahoo-color: #6001d2;
$lycos-color: #d9d9d9;
$nigma-color: #74B61D;
$cows-color: #dc2f2f;
$ecosia-color: #008009;
$searchcrypt-color: #1c8adb;
$metager-color: #f47216;
$ask-color: #cf0000;
$boardreader-color: #be0101;
$zapmeta-color: #f2a715;
$searchch-color: #e4002c;

$slow-transition: 1s;
$fast-transition: 0.5s;

$search-engine-width: 40vw;
$search-engine-max-width: 560px;

[data-theme="light"] {
  --bg-color: #{$light-color};
  --bg-hover-color: #0000000f;
  --bg-scrollable-color: #ffffff80;
  --text-color: #{$light-text-color};
  --tooltip-text-color: inherit;
  --tooltip-box-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001E, 0 9px 28px 8px #0000000C;
  --border-color: #d9d9d9;
  --tour-indicator-color: #00000026;
}

[data-theme="dark"] {
  --bg-color: #{$dark-color};
  --bg-hover-color: #ffffff0f;
  --bg-scrollable-color: #292c3580;
  --text-color: #{$dark-text-color};
  --tooltip-text-color: #{$dark-text-color};
  --tooltip-box-shadow: 0 6px 16px 0 #FFFFFF14, 0 3px 6px -4px #FFFFFF1E, 0 9px 28px 8px #FFFFFF0C;
  --border-color: #525252;
  --tour-indicator-color: #ffffff26;
}

:export {
  darkColor: $dark-color;
  lightColor: $light-color;
  darkTextColor: $dark-text-color;
  lightTextColor: $light-text-color;
  yaColor: $ya-color;
  aolColor: $aol-color;
  youcomColor: $youcom-color;
  gibiruColor: $gibiru-color;
  gooColor: $goo-color;
  duckColor: $duck-color;
  bingColor: $bing-color;
  braveColor: $brave-color;
  yahooColor: $yahoo-color;
  lycosColor: $lycos-color;
  nigmaColor: $nigma-color;
  cowsColor: $cows-color;
  ecosiaColor: $ecosia-color;
  searchcryptColor: $searchcrypt-color;
  metagerColor: $metager-color;
  askColor: $ask-color;
  boardreaderColor: $boardreader-color;
  zapmetaColor: $zapmeta-color;
  searchchColor: $searchch-color;
}