$dark-color: #292c35;
$light-color: #fff;
$dark-text-color: #fff;
$light-text-color: #000000e0;
$dark-border-color: #525252;
$light-border-color: #d9d9d9;
$input-placeholder-color: #9aa0a6;
$highlighted-text-color: #ffff00;
$current-highlighted-text-color: #ff9632;

$ya-color: #fc0;
$aol-color: #524dfe;
$youcom-color: #2f41e0;
$gibiru-color: #fc243b;
$goo-color: #4285f4;
$duck-color: #DE5833;
$bing-color: #007DAA;
$brave-color: #ff2000;
$yahoo-color: #6001d2;
$lycos-color: #d9d9d9;
$nigma-color: #74B61D;
$cows-color: #dc2f2f;
$ecosia-color: #008009;
$searchcrypt-color: #1c8adb;
$metager-color: #f47216;
$ask-color: #cf0000;
$boardreader-color: #be0101;
$zapmeta-color: #f2a715;
$searchch-color: #e4002c;
$mojeek-color: #7abb3b;
$alexandria-color: #FF9933;
$yep-color: #fff238;
$izito-color: #592260;
$presearch-color: #127fff;
$hotbot-color: #CA1D1D;
$rambler-color: #315efb;
$entireweb-color: #1d93ca;
$exactseek-color: #d6d397;
$startpage-color: #6573ff;

$slow-transition: 1s;
$fast-transition: 0.5s;

$search-engine-width: 40vw;
$search-engine-max-width: 560px;

[data-theme="light"] {
  --yandex-bg-image: url("../../svgs/yandex/ya-logo.svg");
  --yandex-en-bg-image: url("../../svgs/yandex/ya-logo-en.svg");
  --duck-bg-image: url("../../svgs/duckduckgo/duckduckgo-logo.svg");
  --bing-bg-image: url("../../svgs/bing/bing-logo.svg");
  --brave-bg-image: url("../../svgs/brave/brave-logo.svg");
  --swisscows-bg-image: url("../../svgs/swisscows/swisscows-logo.svg");
  --aol-bg-image: url("../../svgs/aol/aol-logo.svg");
  --gibiru-bg-image: url("../../svgs/gibiru/gibiru-logo.svg");
  --lycos-bg-image: url("../../svgs/lycos/lycos-logo.svg");
  --nigma-bg-image: url("../../svgs/nigma/nigma-logo.svg");
  --boardreader-bg-image: url("../../svgs/boardreader/boardreader-logo.svg");
  --zapmeta-bg-image: url("../../svgs/zapmeta/zapmeta-logo.svg");
  --searchch-bg-image: url("../../svgs/searchch/searchch-logo.svg");
  --alexandria-bg-image: url("../../svgs/alexandria/alexandria-logo.svg");
  --presearch-bg-image: url("../../svgs/presearch/presearch-logo.svg");
  --hotbot-bg-image: url("../../svgs/hotbot/hotbot-logo.svg");
  --entireweb-bg-image: url("../../svgs/entireweb/entireweb-logo.svg");
  --startpage-bg-image: url("../../svgs/startpage/startpage-logo.svg");
  --drawer-body-bg-image: url("../../svgs/menu-settings/menu-bg-light.svg");
  --lycos-form-bg-color: #C0C0C099;
  --zapmeta-form-bg-color: #fcfcfc;
  --izito-form-bg-color: #fcfcfc;
  --bg-color: #{$light-color};
  --bg-hover-color: #0000000f;
  --bg-scrollable-color: #ffffff80;
  --bing-label-bg-color: #666;
  --btn-disabled-bg-color: #0000000a;
  --selector-dropdown-hover-bg-color: #0000000a;
  --selector-dropdown-overflow-item-bg-color: #0000000f;
  --bing-label-text-color: #{$dark-text-color};
  --modal-close-color: #00000073;
  --btn-disabled-text-color: #00000040;
  --text-color: #{$light-text-color};
  --yahoo-tooltip-bg-color: #232a31cc;
  --tooltip-text-color: inherit;
  --tooltip-box-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001E, 0 9px 28px 8px #0000000C;
  --google-form-box-shadow: 0 1px 6px #20212447;
  --duck-form-box-shadow: 0 2px 3px #0000000F;
  --mojeek-form-box-shadow: 0 2px 3px #0000000F;
  --mojeek-form-hover-box-shadow: 0 2px 5px #00000033;
  --bing-form-box-shadow: 0 2px 4px #0000004C;
  --yahoo-form-box-shadow: 0 4px 8px 0 #00000019, 0 0 1px 0 #00000019;
  --brave-form-box-shadow: 0 2px 4px #0000004C;
  --youcom-form-box-shadow: #0000001f 0px 8px 35px 0px;
  --ecosia-form-box-shadow: 0 1px 2px #1A1A1A2D,0 0 8px #1A1A1A0F;
  --yep-form-box-shadow: 0 1px 8px 0 #00000026;
  --hotbot-form-box-shadow: 0px 2px 5px 0px #3C404328;
  --entireweb-form-box-shadow: 0 6px 12px #0000000C;
  --presearch-form-bg-color: #{$light-color};
  --yep-form-bg-color: #23242614;
  --yep-form-hover-bg-color: #00000026;
  --selector-dropdown-box-shadow: 0 6px 16px 0 #00000014, 0 3px 6px -4px #0000001E, 0 9px 28px 8px #0000000C;
  --gibiru-form-border-color: #828282FF;
  --nigma-form-border-color: #{$light-color};
  --zapmeta-form-border-color: #eee;
  --izito-form-border-color: #eee;
  --hotbot-form-border-color: #ddd;
  --exactseek-form-border-color: #ddd;
  --hotbot-form-hover-border-color: #a0a0a0;
  --ask-form-hover-border-color: #a0a0a0;
  --alexandria-main-border-color: #{$light-text-color};
  --alexandria-part-border-color: grey;
  --menu-border-color: #{$light-border-color};
  --border-color: #d9d9d9;
  --tour-indicator-color: #00000026;
  --presearch-input-separator-color: #{$light-border-color};
}

[data-theme="dark"] {
  --yandex-bg-image: url("../../svgs/yandex/ya-logo-dark.svg");
  --yandex-en-bg-image: url("../../svgs/yandex/ya-logo-en-dark.svg");
  --duck-bg-image: url("../../svgs/duckduckgo/duckduckgo-logo-dark.svg");
  --bing-bg-image: url("../../svgs/bing/bing-logo-dark.svg");
  --brave-bg-image: url("../../svgs/brave/brave-logo-dark.svg");
  --swisscows-bg-image: url("../../svgs/swisscows/swisscows-logo-dark.svg");
  --aol-bg-image: url("../../svgs/aol/aol-logo-dark.svg");
  --gibiru-bg-image: url("../../svgs/gibiru/gibiru-logo-dark.svg");
  --lycos-bg-image: url("../../svgs/lycos/lycos-logo-dark.svg");
  --nigma-bg-image: url("../../svgs/nigma/nigma-logo-dark.svg");
  --boardreader-bg-image: url("../../svgs/boardreader/boardreader-logo-dark.svg");
  --zapmeta-bg-image: url("../../svgs/zapmeta/zapmeta-logo-dark.svg");
  --searchch-bg-image: url("../../svgs/searchch/searchch-logo-dark.svg");
  --alexandria-bg-image: url("../../svgs/alexandria/alexandria-logo-dark.svg");
  --presearch-bg-image: url("../../svgs/presearch/presearch-logo-dark.svg");
  --hotbot-bg-image: url("../../svgs/hotbot/hotbot-logo-dark.svg");
  --entireweb-bg-image: url("../../svgs/entireweb/entireweb-logo-dark.svg");
  --startpage-bg-image: url("../../svgs/startpage/startpage-logo-dark.svg");
  --drawer-body-bg-image: url("../../svgs/menu-settings/menu-bg-dark.svg");
  --lycos-form-bg-color: #FFFFFF99;
  --zapmeta-form-bg-color: #{mix($dark-color, $light-color, 97%)};
  --izito-form-bg-color: #{mix($dark-color, $light-color, 97%)};
  --bg-color: #{$dark-color};
  --bg-hover-color: #ffffff0f;
  --bg-scrollable-color: #292c3580;
  --bing-label-bg-color: #d6d6d6;
  --btn-disabled-bg-color: #FFFFFF0A;
  --selector-dropdown-hover-bg-color: #{mix($light-color, $dark-color, 20%)};
  --selector-dropdown-overflow-item-bg-color: #ffffff0f;
  --bing-label-text-color: #{$light-text-color};
  --modal-close-color: #{mix($light-color, $dark-color, 55%)};
  --btn-disabled-text-color: #{mix($light-color, $dark-color, 25%)};
  --text-color: #{$dark-text-color};
  --yahoo-tooltip-bg-color: #b7d2eda8;
  --tooltip-text-color: #{$dark-text-color};
  --tooltip-box-shadow: 0 6px 16px 0 #FFFFFF14, 0 3px 6px -4px #FFFFFF1E, 0 9px 28px 8px #FFFFFF0C;
  --google-form-box-shadow: 0 1px 6px #d9dfee47;
  --duck-form-box-shadow: 0 2px 3px #ffffff0f;
  --mojeek-form-box-shadow: 0 2px 3px #ffffff0f;
  --mojeek-form-hover-box-shadow: 0 2px 5px #ffffff33;
  --bing-form-box-shadow: 0 2px 4px #ffffff4c;
  --yahoo-form-box-shadow: 0 4px 8px 0 #ffffff19, 0 0 1px 0 #ffffff19;
  --brave-form-box-shadow: 0 2px 4px #ffffff4c;
  --youcom-form-box-shadow: #FFFFFF1F 0px 8px 35px 0px;
  --ecosia-form-box-shadow: 0 1px 2px #D0D0D02D,0 0 8px #D0D0D00F;
  --yep-form-box-shadow: 0 1px 8px 0 #FFFFFF26;
  --hotbot-form-box-shadow: 0px 2px 5px 0px #BECAD328;
  --entireweb-form-box-shadow: 0 6px 12px #7777777C;
  --presearch-form-bg-color: #373b43;
  --yep-form-bg-color: #C0C4CC14;
  --yep-form-hover-bg-color: #C9C9C926;
  --selector-dropdown-box-shadow: 0 6px 16px 0 #FFFFFF14, 0 3px 6px -4px #FFFFFF1E, 0 9px 28px 8px #FFFFFF0C;
  --gibiru-form-border-color: #d5d5d5;
  --nigma-form-border-color: #{$dark-color};
  --zapmeta-form-border-color: #333742;
  --izito-form-border-color: #333742;
  --hotbot-form-border-color: #545454;
  --exactseek-form-border-color: #545454;
  --hotbot-form-hover-border-color: #d0d0d0;
  --ask-form-hover-border-color: #404040;
  --alexandria-main-border-color: #676767;
  --alexandria-part-border-color: #b7b7b7;
  --menu-border-color: #{$dark-border-color};
  --border-color: #525252;
  --tour-indicator-color: #ffffff26;
  --presearch-input-separator-color: #{$dark-text-color};
}

:export {
  darkColor: $dark-color;
  lightColor: $light-color;
  darkTextColor: $dark-text-color;
  lightTextColor: $light-text-color;
  yaColor: $ya-color;
  aolColor: $aol-color;
  youcomColor: $youcom-color;
  gibiruColor: $gibiru-color;
  gooColor: $goo-color;
  duckColor: $duck-color;
  bingColor: $bing-color;
  braveColor: $brave-color;
  yahooColor: $yahoo-color;
  lycosColor: $lycos-color;
  nigmaColor: $nigma-color;
  cowsColor: $cows-color;
  ecosiaColor: $ecosia-color;
  searchcryptColor: $searchcrypt-color;
  metagerColor: $metager-color;
  askColor: $ask-color;
  boardreaderColor: $boardreader-color;
  zapmetaColor: $zapmeta-color;
  searchchColor: $searchch-color;
  mojeekColor: $mojeek-color;
  alexandriaColor: $alexandria-color;
  yepColor: $yep-color;
  izitoColor: $izito-color;
  presearchColor: $presearch-color;
  hotbotColor: $hotbot-color;
  ramblerColor: $rambler-color;
  entirewebColor: $entireweb-color;
  exactseekColor: $exactseek-color;
  startpageColor: $startpage-color;
}