$dark-color: #292c35;
$dark-border-color: #525252;
$light-border-color: #d9d9d9;
$light-color: #fff;
$light-background-color: #ffffff0f;
$disabled-text-color: #FFFFFF3F;
$disabled-background-color: #FFFFFF0A;
$input-placeholder-color: #9aa0a6;
$highlighted-text-color: #ffff00;
$current-highlighted-text-color: #ff9632;

$ya-color: #fc0;
$aol-color: #524dfe;
$youcom-color: #2f41e0;
$gibiru-color: #fc243b;
$goo-color: #4285f4;
$duck-color: #DE5833;
$bing-color: #007DAA;
$brave-color: #ff2000;
$yahoo-color: #6001d2;
$lycos-color: #d9d9d9;
$nigma-color: #74B61D;
$cows-color: #dc2f2f;
$ecosia-color: #008009;
$searchcrypt-color: #1c8adb;
$metager-color: #f47216;
$ask-color: #cf0000;
$boardreader-color: #be0101;
$zapmeta-color: #f2a715;
$searchch-color: #e4002c;

$slow-transition: 1s;
$fast-transition: 0.5s;

$search-engine-width: 40vw;
$search-engine-max-width: 560px;

:export {
  darkColor: $dark-color;
  lightColor: $light-color;
  yaColor: $ya-color;
  aolColor: $aol-color;
  youcomColor: $youcom-color;
  gibiruColor: $gibiru-color;
  gooColor: $goo-color;
  duckColor: $duck-color;
  bingColor: $bing-color;
  braveColor: $brave-color;
  yahooColor: $yahoo-color;
  lycosColor: $lycos-color;
  nigmaColor: $nigma-color;
  cowsColor: $cows-color;
  ecosiaColor: $ecosia-color;
  searchcryptColor: $searchcrypt-color;
  metagerColor: $metager-color;
  askColor: $ask-color;
  boardreaderColor: $boardreader-color;
  zapmetaColor: $zapmeta-color;
  searchchColor: $searchch-color;
}