@mixin setting-checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
};

@mixin skeleton-dimensions($width, $height: 100%) {
  &.ant-skeleton.ant-skeleton-element {
    height: $height;
    width: $width;

    .ant-skeleton-image {
      height: 100%;
      width: 100%;
    }
  }
}