@import "../../modules/constants.module";

.new-tab__widget-list {
  display: grid;
  gap: 12px;
  margin: 12px;
  max-width: 300px;
  width: 100vw;

  &_item {
    padding: 12px;
    border-radius: 24px;
    cursor: default;
    transition: background-color $slow-transition;
    background-color: var(--widgets-bg-color);

    &[data-rbd-drag-handle-context-id] {
      cursor: default;

      &._dragging {
        cursor: grabbing;
      }
    }
  }
}