@import "../../modules/constants.module";

.new-tab__widget-list {
  $max-width-list: 300px;

  display: grid;
  gap: 12px;
  margin: 12px;
  max-width: $max-width-list;
  width: 100vw;

  &_item {
    $padding-item: 12px;

    max-width: $max-width-list - $padding-item;
    padding: $padding-item;
    border-radius: 24px;
    cursor: default;
    transition: background-color $slow-transition;
    background-color: var(--widgets-bg-color);

    &[data-rbd-drag-handle-context-id] {
      cursor: default;

      &._dragging {
        cursor: grabbing;
      }
    }
  }
}