.new-tab_google-search-engine {
    width: 100%;
    height: 48%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.new-tab_google-search-form {
    transition: 0.5s;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32,33,36,0.06);
    width: auto;
    background-color: #f8f8f8;
}

.new-tab_google-search-form.shadow_dark {
    box-shadow: 0 1px 10px rgba(255,255,255,0.2);
}

.new-tab_google-search-input {
    display: flex;
    vertical-align: top;
    width: 100%;
    border-radius: 24px;
    background-color: #f8f8f8;
    background-clip: content-box;
    color: #000;
}

.new-tab_google-search-input-control {
    z-index: 3;
    width: 100%;
    padding: 0;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    height: 42px;
    border-left-width: 11px;
    font: 17px Arial, Helvetica, sans-serif;
}

.new-tab_google-search-input-control::placeholder {
    color: #9aa0a6;
}

.new-tab_google-search-button-theme {
    font-size: 19px;
    margin-right: 5px;
    border-radius: 24px;
    height: 100%;
    cursor: pointer;
    border: 0;
    background-color: #f8f8f8;
}

.new-tab_google-search-button-text {
    width: 20px;
    height: 20px;
    background-image: url("../svgs/search.svg");
}

.new-tab_google-logo.en_local,
.new-tab_google-logo {
    transition: 1s;
    background-image: url("../svgs/google-logo.svg");
    width: 292px;
    height: 92px;
    position: relative;
    display: inline-block;
}

.new-tab_google-logo.dark,
.new-tab_google-logo.en_local.dark {
    transition: 1s;
    background-image: url("../svgs/google-logo.svg");
}
