.new-tab_search-engine-selector {
    display: flex;
    position: inherit;
    bottom: 10px;
    z-index: 1;
}

.new-tab_search-engine-selector-yandex {
    transition: 1s;
    background-image: url("../svgs/ya-icon.svg");
    background-color: inherit;
    height: 24px;
    width: 24px;
    cursor:pointer;
    border: none;
}

.new-tab_search-engine-selector-yandex.en_local {
    background-image: url("../svgs/ya-icon-en.svg");
}

.new-tab_search-engine-selector-google {
    transition: 1s;
    background-image: url("../svgs/google-icon.svg");
    background-color: inherit;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    cursor:pointer;
    border: none;
}

.new-tab_search-engine-selector-duck {
    transition: 1s;
    background-image: url("../svgs/duck-icon.svg");
    background-color: inherit;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    cursor:pointer;
    border: none;
}

.grey {
    transition: 2s;
    filter: grayscale(100%);
}
