.yandex_search_engine {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.yandex_search_form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    position: relative;
    display: flex;
    background: #fc0;
    border-radius: 0.625rem;
}

.yandex_search_input {
    vertical-align: top;
    width: 100%;
    border-width: 3px;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
    border-style: solid;
    border-color: transparent;
    background: #fff;
    background-clip: content-box;
    color: #000;
}

.yandex_search_input_control {
    z-index: 3;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    margin-top: -1px;
    margin-bottom: 1px;
    height: 42px;
    border-right-width: 40px;
    border-left-width: 11px;
    font: 19px Arial, Helvetica, sans-serif;
}

.yandex_search_button {
    margin-left: -2px;
}

.yandex_search_button_theme {
    font-size: 19px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    background: #fc0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

.yandex_search_button_theme:focus {
    background: #f0bf00;
}

.yandex_search_button_text {
    padding: 0 25px;
    vertical-align: 2px;
}

.yandex_logo {
    background-image: url("../svgs/ya-logo-black.svg");
    width: 180px;
    height: 70px;
    position: relative;
    margin: 0 auto;
}

.yandex_logo.dark {
    background-image: url("../svgs/ya-logo-white.svg");
}

.yandex_logo.en_local {
    background-image: url("../svgs/ya-logo-black-en.svg");
}

.yandex_logo.en_local.dark {
    background-image: url("../svgs/ya-logo-white-en.svg");
}
