@import "../../modules/constants.module";

@mixin hide-pseudo-input-border {
  &.ant-input-affix-wrapper:focus,
  &.ant-input-affix-wrapper:hover,
  &.ant-input-affix-wrapper-focused {
    border-color: transparent;
    box-shadow: none;
  }
}

.new-tab__search-engine_input {
  width: 100%;
  height: 100%;
  font: 17px Arial, Helvetica, sans-serif;
  flex: 1;

  .ant-input-prefix {
    margin-inline-end: 0;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }

  &-prefix {
    display: flex;
    height: max-content;
    position: relative;

    &[data-tooltip]:after {
      position: absolute;
      background-color: #fff;
      border: 1px solid #ff8000;
      border-radius: 6px;
      color: #000;
      content: attr(data-tooltip);
      font-size: .9em;
      font-weight: 400;
      left: 0;
      opacity: 0;
      padding: 3px 8px;
      pointer-events: none;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      top: 100%;
      transition: opacity .3s ease;
      white-space: pre-wrap;
      min-width: 150px;
      z-index: 1;
    }

    &[data-tooltip]:hover::after {
      opacity: 1;
    }


    &-icon {
      transition: $fast-transition;
      width: 0;
      opacity: 0;

      &.metager {
        transform: rotate(-90deg);
        margin-right: 11px;
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }
  }

  &.yandex {
    transition: $fast-transition;
    background-color: $light-color;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;

    @include hide-pseudo-input-border;
  }

  &.google {
    transition: $fast-transition;
    padding: 0 0 0 12px;
    background-color: transparent;
    border: none transparent;
    border-radius: 24px 0 0 24px;

    @include hide-pseudo-input-border;
  }

  &.duckduckgo {
    transition: $fast-transition;
    padding: 0 10px;
    background-color: transparent;
    border: none transparent;

    @include hide-pseudo-input-border;
  }

  &.bing {
    transition: $fast-transition;
    padding: 4px 0 4px 12px;
    border-radius: 24px;
    border: none transparent;

    @include hide-pseudo-input-border;
  }

  &.yahoo {
    transition: $fast-transition;
    border: 1px solid #188fff;
    border-radius: 4px 0 0 4px;
    font-weight: 500;
    box-shadow: 0 0 8px 0 #0F69FF33, 0 0 1px 0 #0F69FF33;

    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
      border: none transparent;
      box-shadow: 0 4px 16px 0 #00000033, 0 0 2px 0 #0000000C;
    }

    &.dark {
      &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
      &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
        box-shadow: 0 4px 16px 0 #ffffff33, 0 0 2px 0 #ffffff0c;
      }
    }
  }

  &.brave {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 16px 0 0 16px;

    @include hide-pseudo-input-border;
  }

  &.swisscows {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 26px 0 0 26px;

    @include hide-pseudo-input-border;

    &.ant-input-affix-wrapper {
      padding-right: 0;
    }
  }

  &.aol {
    transition: $fast-transition;
    border: 1px solid #7590f5;
    border-radius: 0;

    &:hover {
      box-shadow: 0 0 3px #a5b2f4;
      outline: none;
    }
  }

  &.youcom {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 24px 0 0 24px;

    @include hide-pseudo-input-border;

    &.ant-input-affix-wrapper {
      padding-right: 0;
    }
  }

  &.gibiru {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 7px 0 0 7px;

    @include hide-pseudo-input-border;
  }

  &.lycos {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 4px 0 0 4px;

    @include hide-pseudo-input-border;
  }

  &.nigma {
    transition: $fast-transition;
    border: 1px solid #707070;
    border-radius: 0;

    @include hide-pseudo-input-border;
  }

  &.ecosia {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 30px 0 0 30px;

    @include hide-pseudo-input-border;
  }

  &.searchcrypt {
    transition: $fast-transition;
    border: 1px solid #dcdcdc;
    padding: 0 14px;
    border-radius: 6px;

    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover, {
      border-color: #b7b7b7;
      box-shadow: 0 1px 2px rgba(0,0,0,0.12) inset;
    }

    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
      border-color: #4d90fe;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 4px rgba(0,163,255,0.2) inset;
    }
  }

  &.metager {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 5px;

    @include hide-pseudo-input-border;
  }

  &.ask {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 24px 0 0 24px;
    padding-left: 16px;
    padding-right: 0;

    @include hide-pseudo-input-border;
  }
}