@import "../../modules/constants.module";

.new-tab__search-engine_form {
  width: 100%;
  min-width: 100px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: $light-color;

  &.yandex {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 0.625rem;
    background-color: $ya-color;
  }

  &.google {
    transition: $fast-transition;
    box-shadow: 0 1px 6px #20212447;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

    &.dark {
      box-shadow: 0 1px 6px #d9dfee47;
    }
  }

  &.duckduckgo {
    transition: $fast-transition;
    box-shadow: 0 2px 3px #0000000F;
    border: 1px solid #00000026;
    border-radius: 4px;

    &.dark {
      box-shadow: 0 2px 3px $light-background-color;
    }
  }

  &.bing {
    transition: $fast-transition;
    box-shadow: 0 2px 4px #0000004C;
    border: none transparent;
    border-radius: 24px;

    &.dark {
      box-shadow: 0 2px 4px #ffffff4c;
    }
  }

  &.yahoo {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 4px;
  }

  &.brave {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 16px;
    box-shadow: 0 2px 4px #0000004C;

    &.dark {
      box-shadow: 0 2px 4px #ffffff4c;
    }
  }

  &.swisscows {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 26px;
  }

  &.aol {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 0;
  }

  &.youcom {
    transition: $fast-transition;
    border: 1px solid transparent;
    border-radius: 24px;
    box-shadow: #00000011 0 -0.5px 0, #00000019 0 0 18px;

    &:focus-within {
      box-shadow: #00D4FF3F 0 0 4px, #0000FF19 0 4px 18px;
      border: 1px solid #4A72F5FF;
    }

    &.dark {
      box-shadow: #FFFFFF11 0 -0.5px 0, #FFFFFF19 0 0 18px;

      &:focus-within {
        box-shadow: #00D4FF3F 0 0 4px, #0000FF19 0 4px 18px;
        border: 1px solid #4A72F5FF;
      }
    }
  }

  &.gibiru {
    transition: $fast-transition;
    border: 1px solid #828282FF;
    border-radius: 7px;

    &.dark {
      border: 1px solid #d5d5d5;
    }
  }

  &.lycos {
    transition: all $fast-transition, outline 0.05s;;
    outline: 1px solid #dddddd;
    border: none transparent;
    border-radius: 4px;

    &:focus-within {
      outline: 2px solid #101010;
    }
  }

  &.nigma {
    height: 32px;
    background-color: #79ba2a;
    transition: $fast-transition;
    border: none transparent;
    border-radius: 0 3px 3px 0;
  }

  &.ecosia {
    transition: $fast-transition;
    border: 1px solid #bebeb9;
    border-radius: 30px;
    box-shadow: 0 1px 2px #1A1A1A2D,0 0 8px #1A1A1A0F;

    &.dark {
      box-shadow: 0 1px 2px #D0D0D02D,0 0 8px #D0D0D00F;
    }
  }

  &.searchcrypt {
    transition: $fast-transition;
    border: none transparent;
    border-radius: 6px;
  }

  &.metager {
    transition: $fast-transition;
    border-radius: 5px;
    border: 1px solid #585858;
  }
}