@import "../../modules/constants.module";

@mixin change-pseudo-input-border-color($color) {
  &.ant-input-affix-wrapper:focus,
  &.ant-input-affix-wrapper:hover,
  &.ant-input-affix-wrapper-focused {
    border-color: $color;
    box-shadow: none;
  }
}

.new-tab__search-engine_input {
  transition: $fast-transition;
  background-color: transparent;
  border: none transparent;
  border-radius: 0;
  width: 100%;
  height: 100%;
  font: 17px Arial;
  flex: 1;

  .ant-input-prefix {
    margin-inline-end: 0;
  }

  .ant-input {
    background: none;

    &::placeholder {
      font: 17px Arial;
      color: $input-placeholder-color;
    }
  }

  &-prefix {
    display: flex;
    height: max-content;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    position: relative;

    &[data-tooltip]:after {
      position: absolute;
      background-color: #fff;
      border: 1px solid #ff8000;
      border-radius: 6px;
      color: #000;
      content: attr(data-tooltip);
      font-size: .9em;
      font-weight: 400;
      left: 0;
      opacity: 0;
      padding: 3px 8px;
      pointer-events: none;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      top: 100%;
      transition: opacity .3s ease;
      white-space: pre-wrap;
      min-width: 150px;
      z-index: 1;
    }

    &[data-tooltip]:hover::after {
      opacity: 1;
    }

    span {
      transition: $fast-transition;
      width: 0;
      height: 0;
      opacity: 0;
      margin-right: 0;
      background-image: url("../../../svgs/google/google-search-icon.svg");
    }

    &.google span {
      margin-top: 2px;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      opacity: 1;
    }

    &.metager span {
      transform: rotate(-90deg);
      margin-right: 11px;
      width: 20px;
      height: 20px;
      opacity: 1;
      background-image: url("../../../svgs/metager/metager-key-icon.svg");
    }
  }

  &.yandex {
    background-color: $light-color;
    border-radius: 9px;
    padding: 0 11px;
    background-clip: padding-box;
    @include change-pseudo-input-border-color(transparent);
  }

  &.google {
    border-radius: 24px 0 0 24px;
    padding: 0 0 0 12px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.duckduckgo {
    padding: 0 10px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.bing {
    border-radius: 24px;
    padding: 4px 0 4px 12px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.yahoo {
    border-radius: 145px 0 0 145px;
    font-weight: 500;
    padding-left: 16px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.brave {
    border-radius: 10px 0 0 10px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.swisscows {
    border-radius: 26px 0 0 26px;
    @include change-pseudo-input-border-color(transparent);

    &.ant-input-affix-wrapper {
      padding-right: 0;
    }
  }

  &.aol {
    border: 1px solid #7590f5;
    border-right: 0 transparent;

    &:hover {
      box-shadow: 0 0 3px #a5b2f4;
      outline: none;
    }
  }

  &.youcom {
    border-radius: 24px 0 0 24px;
    @include change-pseudo-input-border-color(transparent);

    &.ant-input-affix-wrapper {
      padding-right: 0;
    }
  }

  &.gibiru {
    border-radius: 7px 0 0 7px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.lycos {
    border-radius: 4px 0 0 4px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.nigma {
    background-color: $light-color;
    border: 1px solid #707070;
    @include change-pseudo-input-border-color(#707070);
  }

  &.ecosia {
    border-radius: 30px 0 0 30px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.searchcrypt {
    background-color: $light-color;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: 0 14px;

    &:hover, {
      border-color: #b7b7b7;
      box-shadow: 0 1px 2px rgba(0,0,0,0.12) inset;
    }

    &.ant-input-affix-wrapper-focused {
      border-color: #4d90fe;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 4px rgba(0,163,255,0.2) inset;
    }
  }

  &.metager {
    border-radius: 5px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.ask {
    border-radius: 24px 0 0 24px;
    padding-left: 16px;
    padding-right: 0;
    @include change-pseudo-input-border-color(transparent);
  }

  &.boardreader {
    border: 1px solid #e5e5e5;
    @include change-pseudo-input-border-color(#e5e5e5);
  }

  &.zapmeta {
    border: 1px solid #CFCFD2;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    @include change-pseudo-input-border-color(#CFCFD2);
  }

  &.searchch {
    background-color: $light-color;
    border-radius: 6px;
    margin-right: 12px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.mojeek {
    padding: 0 0 0 12px;
    @include change-pseudo-input-border-color(transparent);
  }

  &.alexandria {
    border: 2px solid var(--alexandria-main-border-color);
    border-right-color: var(--alexandria-part-border-color);
    border-bottom-color: var(--alexandria-part-border-color);
    border-radius: 0;
    padding: 0 4px;
    margin-right: 8px;
    font-size: 16px;
    background-color: $light-color;

    &.ant-input-affix-wrapper:focus,
    &.ant-input-affix-wrapper-focused {
      border-color: var(--alexandria-main-border-color);
      border-radius: 4px;
      box-shadow: none;
    }

    .ant-input {
      &::placeholder {
        font-size: 16px;
      }
    }
  }

  &.yep {
    border-radius: 30px 0 0 30px;
    padding-right: 0;
    @include change-pseudo-input-border-color(transparent);

    .ant-input {
      color: var(--text-color);
    }
  }
}