@import "../modules/constants.module";

html, body {
    margin: 0;
    padding: 0;
}

.new-tab {
    transition: $slow-transition;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--bg-color);

    &-background {
        transition: background $slow-transition;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
        background-image: url("../../imgs/empty.png");
        z-index: -10;
    }

    &__search-engine-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        min-width: 416px;
        width: 100%;
    }
}
