@import "../modules/constants.module";

.new-tab__notification {
  .ant-notification-notice-description,
  .ant-notification-notice-message,
  .ant-notification-notice-close,
  .ant-notification-notice {
    transition: all, background-color $slow-transition, color $fast-transition;
  }

  &.dark {
    .ant-notification-notice {
      background-color: $dark-color;

      .ant-notification-notice-close:hover {
        background-color: mix($light-color, $dark-color, 6%);
      }

      .ant-notification-notice-description,
      .ant-notification-notice-message,
      .ant-notification-notice-close {
        color: $light-color;
      }
    }
  }

  &_has-new-version-content {
    display: flex;
    flex-direction: column;
  }
}