@import "../modules/constants.module";

.new-tab__notification {
  position: absolute;

  .ant-notification-notice {
    transition: all, background-color $slow-transition;
    background-color: var(--bg-color);

    .ant-notification-notice-close:hover {
      color: var(--text-color);
      background-color: var(--bg-hover-color);
    }

    .ant-notification-notice-description,
    .ant-notification-notice-message,
    .ant-notification-notice-close {
      transition: all, color $fast-transition;
      color: var(--text-color);
    }
  }

  &_has-new-version-content {
    display: flex;
    flex-direction: column;
  }
}