@import "../modules/constants.module";

.new-tab__search-engine-selector {
    display: flex;
    position: absolute;
    bottom: 10px;
    height: max-content;
    outline: 2px solid;
    border-radius: 8px;
    transition: outline-color $fast-transition;

    &-scrollable {
        display: flex;
        transition: background-color $slow-transition;
        padding: 2px;
        background-color: var(--bg-scrollable-color);
        max-width: 360px;
    }

    &-left-button,
    &-right-button {
        transition: $fast-transition;
        cursor: pointer;
        border: 0;
        width: 24px;
        padding: 0;
    }

    &-left-button {
        border-radius: 8px 0 0 8px;
    }

    &-right-button {
        border-radius: 0 8px 8px 0;
    }

    &-droppable-aria {
        display: inherit;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: 2px;
        border-radius: 4px;
        transition: filter $slow-transition;
        filter: grayscale(100%);

        &[data-rbd-drag-handle-context-id] {
            cursor: pointer;

            &._dragging {
                cursor: grabbing;
            }
        }

        &.ask,
        &.yahoo,
        &.lycos,
        &.gibiru,
        &.searchch,
        &.swisscows,
        &.boardreader,
        &.alexandria,
        &.yep,
        &._selected {
            filter: grayscale(0);
        }

        &:not(._selected) {
            &.lycos,
            &.searchch,
            &.swisscows {
                svg path.svg-grey {
                    fill: #545454;
                }
            }

            &.ask,
            &.yahoo,
            &.gibiru {
                svg path.svg-grey {
                    fill: #64646b;
                }
            }

            &.boardreader {
                svg text.svg-grey {
                    fill: #343434;

                    &:last-child {
                        fill: #545454;
                    }
                }
            }

            &.alexandria {
                svg path {
                    &.svg-grey {
                        fill: #64646b;
                    }

                    &:last-child {
                        fill: #a4a4a4;
                    }
                }
            }

            &.yep {
                svg path {
                    &:first-child {
                        fill: #a4a4a4;
                    }

                    &.svg-grey {
                        fill: #545454;
                    }
                }
            }
        }

        svg {
            text,
            path {
                transition: fill $slow-transition;
            }
        }
    }
}
