@import "../modules/constants.module";

.new-tab__search-engine {
    $search-engine-width: 40vw;
    $search-engine-max-width: 560px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    bottom: 50vh;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $search-engine-width;
        max-width: $search-engine-max-width;
    }

    &_logo {
        display: flex;
        background-repeat: no-repeat;

        &.yandex {
            transition: $fast-transition;
            height: 49px;
            width: 162px;
            margin-bottom: 8px;
            background-image: url("../../svgs/yandex/ya-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/yandex/ya-logo-dark.svg");
            }

            &.en {
                transition: $fast-transition;
                height: 41px;
                width: 162px;
                background-image: url("../../svgs/yandex/ya-logo-en.svg");

                &.dark {
                    transition: $fast-transition;
                    background-image: url("../../svgs/yandex/ya-logo-en-dark.svg");
                }
            }
        }

        &.google {
            transition: $fast-transition;
            height: 68px;
            width: 205px;
            margin-bottom: 6px;
            background-image: url("../../svgs/google/google-logo.svg");
        }

        &.duckduckgo {
            transition: $fast-transition;
            height: 163px;
            width: 205px;
            margin-bottom: 12px;
            background-image: url("../../svgs/duckduckgo/duckduckgo-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/duckduckgo/duckduckgo-logo-dark.svg");
            }
        }

        &.bing {
            transition: $fast-transition;
            height: 32px;
            width: 205px;
            margin-bottom: 12px;
            background-image: url("../../svgs/bing/bing-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/bing/bing-logo-dark.svg");
            }
        }

        &.yahoo {
            transition: $fast-transition;
            height: 59px;
            width: 205px;
            margin-bottom: 6px;
            background-image: url("../../svgs/yahoo/yahoo-logo.svg");
        }

        &.brave {
            transition: $fast-transition;
            height: 66px;
            width: 205px;
            margin-bottom: 6px;
            background-image: url("../../svgs/brave/brave-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/brave/brave-logo-dark.svg");
            }
        }

        &.swisscows {
            transition: $fast-transition;
            height: 75px;
            width: 205px;
            margin-bottom: 10px;
            background-image: url("../../svgs/swisscows/swisscows-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/swisscows/swisscows-logo-dark.svg");
            }
        }

        &.aol {
            transition: $fast-transition;
            height: 41px;
            width: 103px;
            margin-bottom: 12px;
            background-image: url("../../svgs/aol/aol-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/aol/aol-logo-dark.svg");
            }
        }

        &.youcom {
            transition: $fast-transition;
            height: 62px;
            width: 205px;
            margin-bottom: 14px;
            background-image: url("../../svgs/youcom/youcom-logo.svg");
        }

        &.gibiru {
            transition: $fast-transition;
            height: 41px;
            width: 205px;
            margin-bottom: 10px;
            background-image: url("../../svgs/gibiru/gibiru-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/gibiru/gibiru-logo-dark.svg");
            }
        }

        &.lycos {
            transition: $fast-transition;
            height: 45px;
            width: 205px;
            margin-bottom: 14px;
            background-image: url("../../svgs/lycos/lycos-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/lycos/lycos-logo-dark.svg");
            }
        }

        &.nigma {
            transition: $fast-transition;
            height: 55px;
            width: 205px;
            margin-bottom: 32px;
            background-image: url("../../svgs/nigma/nigma-logo.svg");

            &.dark {
                transition: $fast-transition;
                background-image: url("../../svgs/nigma/nigma-logo-dark.svg");
            }
        }

        &.ecosia {
            transition: $fast-transition;
            height: 40px;
            width: 140px;
            margin-bottom: 12px;
            background-image: url("../../svgs/ecosia/ecosia-logo.svg");
        }
    }

    &_form-background {
        transition: $fast-transition;
        background-image: url("../../svgs/form-background.svg");
        background-size: cover;
        width: $search-engine-width;
        max-width: $search-engine-max-width;
        position: fixed;
        z-index: -1;
        top: calc(50% - 50px);
        border-radius: 0;
        min-height: 50px;
        max-height: max-content;
        opacity: 0;

        &-text {
            &-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 60px;
            }

            &-item {
                display: flex;
                align-items: center;
                color: $light-color;
                font-size: 14px;
                font-weight: 400;
                font-family: "Arial", sans-serif;
                margin-right: 16px;
            }
        }

        svg {
            margin-right: 4px;
        }

        &.swisscows {
            background-image: url("../../svgs/swisscows/swisscows-form-wrapper.svg");
            border-radius: 20px;
            padding: 0 36px 12px;
            opacity: 1;

            div {
                opacity: 1;
            }
        }

        &.lycos {
            background: #C0C0C099 url("../../svgs/form-background.svg");
            top: calc(50% - 121px);
            min-height: 101px;
            max-height: 101px;
            padding: 20px 12px 35px;
            opacity: 1;

            &.dark {
                background: #FFFFFF99;
            }
        }

        &.nigma {
            transition: all $fast-transition, border-color $slow-transition;
            background: #79ba2a url("../../svgs/form-background.svg");
            top: calc(50% - 62px);
            padding: 0 20px;
            border-radius: 20px;
            min-height: 100px;
            max-height: 100px;
            opacity: 1;
            border: solid 4px $light-color;
            outline: solid 2px #dadada;

            &.dark {
                border: solid 4px $dark-color;
            }
        }

        &.ecosia,
        &.nigma,
        &.yandex,
        &.google,
        &.duckduckgo,
        &.bing,
        &.yahoo,
        &.brave,
        &.aol,
        &.youcom,
        &.gibiru,
        &.lycos {
            div {
                transition: $fast-transition;
                opacity: 0;
            }
        }
    }

    &_form {
        width: 100%;
        min-width: 100px;
        height: 42px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: $light-color;

        &.yandex {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 0.625rem;
            background-color: $ya-color;
        }

        &.google {
            transition: $fast-transition;
            box-shadow: 0 1px 6px #20212447;
            border: 1px solid #dfe1e5;
            border-radius: 24px;

            &.dark {
                box-shadow: 0 1px 6px #d9dfee47;
            }
        }

        &.duckduckgo {
            transition: $fast-transition;
            box-shadow: 0 2px 3px #0000000F;
            border: 1px solid #00000026;
            border-radius: 4px;

            &.dark {
                box-shadow: 0 2px 3px $light-background-color;
            }
        }

        &.bing {
            transition: $fast-transition;
            box-shadow: 0 2px 4px #0000004C;
            border: none transparent;
            border-radius: 24px;

            &.dark {
                box-shadow: 0 2px 4px #ffffff4c;
            }
        }

        &.yahoo {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 4px;
        }

        &.brave {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 16px;
            box-shadow: 0 2px 4px #0000004C;

            &.dark {
                box-shadow: 0 2px 4px #ffffff4c;
            }
        }

        &.swisscows {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 26px;
        }

        &.aol {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 0;
        }

        &.youcom {
            transition: $fast-transition;
            border: 1px solid transparent;
            border-radius: 24px;
            box-shadow: #00000011 0 -0.5px 0, #00000019 0 0 18px;

            &:focus-within {
                box-shadow: #00D4FF3F 0 0 4px, #0000FF19 0 4px 18px;
                border: 1px solid #4A72F5FF;
            }

            &.dark {
                box-shadow: #FFFFFF11 0 -0.5px 0, #FFFFFF19 0 0 18px;

                &:focus-within {
                    box-shadow: #00D4FF3F 0 0 4px, #0000FF19 0 4px 18px;
                    border: 1px solid #4A72F5FF;
                }
            }
        }

        &.gibiru {
            transition: $fast-transition;
            border: 1px solid #828282FF;
            border-radius: 7px;

            &.dark {
                border: 1px solid #d5d5d5;
            }
        }

        &.lycos {
            transition: all $fast-transition, outline 0.05s;;
            outline: 1px solid #dddddd;
            border: none;
            border-radius: 4px;

            &:focus-within {
                outline: 2px solid #101010;
            }
        }

        &.nigma {
            height: 32px;
            background-color: #79ba2a;
            transition: $fast-transition;
            border: none;
            border-radius: 0 3px 3px 0;
        }

        &.ecosia {
            transition: $fast-transition;
            border: 1px solid #bebeb9;
            border-radius: 9999px;
            box-shadow: 0 1px 2px #1A1A1A2D,0 0 8px #1A1A1A0F;

            &.dark {
                box-shadow: 0 1px 2px #D0D0D02D,0 0 8px #D0D0D00F;
            }
        }
    }

    &_input {
        width: 100%;
        height: 100%;
        font: 17px Arial, Helvetica, sans-serif;
        flex: 1;

        &::placeholder {
            color: $input-placeholder-color;
        }

        &.yandex {
            transition: $fast-transition;
            background-color: $light-color;
            background-clip: padding-box;
            border: 3px solid transparent;
            border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.google {
            transition: $fast-transition;
            padding: 0 0 0 12px;
            background-color: transparent;
            border: none transparent;
            border-radius: 24px 0 0 24px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.duckduckgo {
            transition: $fast-transition;
            padding: 0 10px;
            background-color: transparent;
            border: none transparent;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.bing {
            transition: $fast-transition;
            padding: 4px 0 4px 12px;
            border-radius: 24px;
            border: none transparent;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.yahoo {
            transition: $fast-transition;
            border: 1px solid #188fff;
            border-radius: 4px 0 0 4px;
            font-weight: 500;
            box-shadow: 0 0 8px 0 #0F69FF33, 0 0 1px 0 #0F69FF33;

            &.ant-input:focus {
                border: none transparent;
                box-shadow: 0 4px 16px 0 #00000033, 0 0 2px 0 #0000000C;
            }

            &.dark {
                &.ant-input:focus {
                    box-shadow: 0 4px 16px 0 #ffffff33, 0 0 2px 0 #ffffff0c;
                }
            }
        }

        &.brave {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 16px 0 0 16px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.swisscows {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 26px 0 0 26px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }

            &.ant-input {
                padding-right: 0;
            }
        }

        &.aol {
            transition: $fast-transition;
            border: 1px solid #7590f5;
            border-radius: 0;

            &:hover {
                box-shadow: 0 0 3px #a5b2f4;
                outline: none;
            }
        }

        &.youcom {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 24px 0 0 24px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }

            &.ant-input {
                padding-right: 0;
            }
        }

        &.gibiru {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 7px 0 0 7px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.lycos {
            transition: $fast-transition;
            border: none;
            border-radius: 4px 0 0 4px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }

        &.nigma {
            transition: $fast-transition;
            border: 1px solid #707070;
            border-radius: 0;

            &.ant-input:focus,
            &.ant-input:hover {
                border: 1px solid #707070;
                box-shadow: none;
            }
        }

        &.ecosia {
            border: none;
            border-radius: 9999px 0 0 9999px;

            &.ant-input:focus,
            &.ant-input:hover {
                border-color: transparent;
                box-shadow: none;
            }
        }
    }

    &_button {
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &.yandex {
            transition: $fast-transition;
            border-radius: 0 10px 10px 0;
            width: 100px;

            & span {
                transition: $fast-transition;
                font: 18px Arial, Helvetica, sans-serif;
                padding: 0 18px;
            }

            &:focus {
                background: #f0bf00;
            }
        }

        &.google {
            transition: $fast-transition;
            border-radius: 0 24px 24px 0;
            width: 48px;

            & svg {
                padding: 0 8px;
            }

            &.ant-btn-text:not(:disabled):hover {
                background-color: #0000000A;
            }
        }

        &.duckduckgo {
            transition: $fast-transition;
            border-radius: 0 4px 4px 0;
            width: 50px;

            & span {
                transition: $fast-transition;
                padding: 0 15px;
                font: 18px Duckduck, emoji;
                color: #999;
            }

            &.ant-btn-text:not(:disabled):hover {
                background-color: #2950BF;
                color: $light-color;
            }
        }

        &.bing {
            transition: $fast-transition;
            border-radius: 0 24px 24px 0;
            width: 40px;

            &.ant-btn-text:not(:disabled):hover {
                background-color: transparent;
            }

            & label {
                display: flex;
                cursor: pointer;

                &.dark::before {
                    background-color: #d6d6d6;
                }

                &.dark::after {
                    color: #000000;
                    background-color: #d6d6d6;
                }

                &::before {
                    z-index: 3;
                    pointer-events: none;
                    transition: all .1s;
                    opacity: 0;
                    height: 10px;
                    width: 10px;
                    left: 50%;
                    background-color: #666;
                    transform: translate3d(-50%,50%,0) rotate(45deg);
                    top: calc(100% - 9px);
                    content: '';
                    position: absolute;
                }

                &::after {
                    z-index: 3;
                    pointer-events: none;
                    transition: all .1s;
                    opacity: 0;
                    font-size: .8125rem;
                    line-height: 150%;
                    white-space: nowrap;
                    top: 100%;
                    content: attr(aria-label) "";
                    color: #fff;
                    border-radius: 6px;
                    transform: translate3d(-50%,0,0);
                    left: 50%;
                    position: absolute;
                    padding: 10px 15px;
                    background-color: #666;
                }

                &:hover::before,
                &:hover::after {
                    opacity: 1;
                }
            }
        }

        &.yahoo {
            transition: $fast-transition;
            background-color: #188fff;
            border-radius: 0 4px 4px 0;
            width: 60px;

            & svg path {
                transition: $fast-transition;
                fill: #fff;
            }

            &.ant-btn-text:not(:disabled):hover {
                background-color: #0f69ff;
            }

            @media screen and (max-width: 1020px) {
                transition: $fast-transition;
                width: 80px;
            }
        }

        &.brave {
            transition: $fast-transition;
            border-radius: 0 10px 10px 0;
            width: 48px;

            svg {
                fill: $light-color;
            }

            &:hover {
                background: linear-gradient(302.53deg,#4c54d2 0%,#bf14a2 56.25%,#f73a1c 100%);
            }
        }

        &.swisscows {
            transition: $fast-transition;
            border-radius: 0 26px 26px 0;
            margin: 0;
            width: 40px;

            &:hover {
                background: none;
            }
        }

        &.aol {
            transition: $fast-transition;
            margin: 0;
            width: 65px;
            background: #524dfe;
            border-radius: 0;

            &:hover {
                background: #524dfe;
            }

            .mag-glass {
                color: white;
                font-size: 0;
                display: inline-block;
                width: 26px;
                height: 26px;
                position: relative;
                transform: scale(0.8);

                .lens {
                    position: absolute;
                    border: 3px solid white;
                    width: 16px;
                    height: 16px;
                    background: transparent;
                    border-radius: 100px;
                }

                .handle {
                    position: absolute;
                    display: block;
                    background-color: white;
                    width: 16px;
                    height: 4px;
                    right: -5px;
                    bottom: 0;
                    top: 21px;
                    transform: rotate(45deg);
                }
            }
        }

        &.youcom {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 0 24px 24px 0;
            width: 40px;

            &:hover {
                background: none;
            }

            svg path {
                fill: #808080;
            }
        }

        &.gibiru {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 0 7px 7px 0;
            width: 40px;
            padding-right: 8px;

            &:hover {
                background: none;
            }

            svg {
                transform: scale(0.9);
            }
        }

        &.lycos {
            transition: $fast-transition;
            border: none transparent;
            border-radius: 0 4px 4px 0;
            width: 40px;

            &:active,
            &:hover {
                background: none;
            }
        }

        &.nigma {
            transition: $fast-transition;
            border: 1px solid #808080;
            border-radius: 3px;
            width: 70px;
            margin-left: 10px;
            background: #DFFFBD;
            font-size: 16px;

            &:active,
            &:hover {
                background: #74B61D;
                border-color: $light-color;
                color: $light-color;
            }
        }

        &.ecosia {
            transition: all $fast-transition outline 0.1s;
            border: none transparent;
            border-radius: 0 9999px 9999px 0;
            width: 48px;

            &:focus-within {
                outline: 2px solid #0094c7;
                outline-offset: 1px;
                border-color: $ecosia-color;
                background: $ecosia-color;

                svg {
                    fill: $light-color;
                }
            }

            &:hover {
                background: #006600;

                svg {
                    fill: $light-color;
                }
            }
        }
    }
}