@import "../modules/constants.module";

.new-tab__tour {
  transition: color $fast-transition;
  max-width: 450px;
  color: var(--text-color);

  &-description {
    white-space: pre-line;
  }

  &>.new-tab__tour-arrow:before {
    transition: background-color $slow-transition;
    background-color: var(--bg-color);
  }

  &>.new-tab__tour-content {
    &>.new-tab__tour-inner {
      transition: background-color $slow-transition;
      background-color: var(--bg-color);

      &>.new-tab__tour-close {
        transition: color $fast-transition;
        cursor: pointer;
        color: var(--modal-close-color);

        &:hover {
          color: var(--modal-close-color);
          background-color: var(--bg-hover-color);
        }
      }

      &>.new-tab__tour-footer {
        &>.new-tab__tour-indicators {
          &>.new-tab__tour-indicator:not(.new-tab__tour-indicator-active) {
            transition: background-color $fast-transition;
            background-color: var(--tour-indicator-color);
          }
        }

        &>.new-tab__tour-buttons {
          &>.new-tab__tour-prev-btn {
            background-color: transparent;
            color: var(--text-color);
          }
        }
      }
    }
  }
}