.new-tab_search-engine-selector {
    display: flex;
    position: inherit;
    bottom: 10px;
    z-index: 1;
}

.new-tab_search-engine-selector-yandex,
.new-tab_search-engine-selector-google,
.new-tab_search-engine-selector-duck {
    transition: var(--slow-transition);
    background-color: inherit;
    height: var(--search-engine-selector-size);
    width: var(--search-engine-selector-size);
    margin-right: 6px;
    cursor: pointer;
    border: none;
}

.new-tab_search-engine-selector-yandex {
    background-image: url("../../svgs/ya-icon.svg");
}

.new-tab_search-engine-selector-yandex.en_local {
    background-image: url("../../svgs/ya-icon-en.svg");
}

.new-tab_search-engine-selector-google {
    background-image: url("../../svgs/google-icon.svg");
}

.new-tab_search-engine-selector-duck {
    background-image: url("../../svgs/duck-icon.svg");
}

.grey {
    filter: grayscale(100%);
}
