.new-tab_yandex-search-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-tab_yandex-search-logo {
    display: flex;
    margin-bottom: 24px;
}

.new-tab_yandex-search-logo svg {
    width: 100%;
}

.new-tab_yandex-search-logo svg path:first-child {
    fill: #000;
}

.new-tab_yandex-search-logo.dark svg path:first-child {
    fill: var(--light-color);
}

.new-tab_yandex-search-form {
    min-width: 50vw;
    height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: var(--ya-color);
    border-radius: 0.625rem;
}

.new-tab_yandex-search-input {
    width: 100%;
    height: 100%;
    background: var(--light-color);
    border: 3px solid transparent;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
    font: 17px Arial, Helvetica, sans-serif;
    background-clip: padding-box;
    border-inline-end-width: 1px;
}

.new-tab_yandex-search-input::placeholder {
    color: var(--input-placeholder-color);
}

.new-tab_yandex-search-input:hover,
.new-tab_yandex-search-input:focus {
    border-color: transparent;
}

.new-tab_yandex-search-button {
    font: 17px Arial, Helvetica, sans-serif;
    border-radius: 0 10px 10px 0;
    height: 100%;
    padding: 0;
}

.new-tab_yandex-search-button:focus {
    background: #f0bf00;
}

.new-tab_yandex-search-button span {
    padding: 0 25px;
    vertical-align: 2px;
}