.new-tab_yandex-search-engine {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 152px;
}

.new-tab_yandex-search-link {
    display: inline-flex;
    position: relative;
    top: 140px;
    right: 5px;
    height: 60px;
    width: 170px;
}

.new-tab_yandex-search-form {
    transition: var(--fast-transition);
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    position: relative;
    display: flex;
    background: #fc0;
    border-radius: 0.625rem;
}

.new-tab_yandex-search-input {
    vertical-align: top;
    width: 100%;
    border-width: 3px;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
    border-style: solid;
    border-color: transparent;
    background-color: #f8f8f8;
    background-clip: content-box;
    color: #000;
}

.new-tab_yandex-search-input-control {
    transition: var(--fast-transition);
    z-index: 3;
    width: 100%;
    padding: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    margin: -1px 0 1px;
    height: 42px;
    border-right-width: 40px;
    border-left-width: 11px;
    font: 19px Arial, Helvetica, sans-serif;
}

.new-tab_yandex-search-button {
    margin-left: -2px;
}

.new-tab_yandex-search-button-theme {
    transition: var(--fast-transition);
    font-size: 19px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    background: #fc0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

.new-tab_yandex-search-button-theme:focus {
    transition: var(--fast-transition);
    background: #f0bf00;
}

.new-tab_yandex-search-button-text {
    transition: var(--fast-transition);
    padding: 0 25px;
    vertical-align: 2px;
}

.new-tab_yandex-logo {
    transition: var(--slow-transition);
    background-image: url("../../svgs/ya-logo-black.svg");
    width: 300px;
    height: 200px;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
}

.new-tab_yandex-logo.dark {
    transition: var(--slow-transition);
    background-image: url("../../svgs/ya-logo-white.svg");
}

.new-tab_yandex-logo.en_local {
    transition: var(--slow-transition);
    background-image: url("../../svgs/ya-logo-black-en.svg");
}

.new-tab_yandex-logo.en_local.dark {
    transition: var(--slow-transition);
    background-image: url("../../svgs/ya-logo-white-en.svg");
}
