.new-tab_duckduckgo-search-engine {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 152px;
}

.new-tab_duckduckgo-search-link {
    display: inline-flex;
    position: relative;
    top: 30px;
    height: 170px;
    width: 210px;
}

.new-tab_duckduckgo-search-form {
    transition: var(--fast-transition);
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    position: relative;
    display: flex;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.new-tab_duckduckgo-search-form.shadow_dark {
    box-shadow: 0 2px 6px rgba(255,255,255,0.2);
}

.new-tab_duckduckgo-search-input {
    display: flex;
    vertical-align: top;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-color: #f8f8f8;
    background-clip: content-box;
    color: #000;
}

.new-tab_duckduckgo-search-input-control::placeholder {
    color: #9aa0a6;
}

.new-tab_duckduckgo-search-input-control {
    transition: var(--fast-transition);
    width: 100%;
    z-index: 3;
    padding: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    border-left-width: 11px;
    height: 38px;
    font: 19px Arial, Helvetica, sans-serif;
}

.new-tab_duckduckgo-search-button {
    margin-left: -2px;
}

.new-tab_duckduckgo-search-button-theme {
    transition: var(--fast-transition);
    font-size: 19px;
    border-radius: 4px;
    height: 100%;
    background: #f8f8f8;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}
.new-tab_duckduckgo-search-button-theme:hover,
.new-tab_duckduckgo-search-button-theme:focus {
    transition: var(--fast-transition);
    background: #2950BF;
}

.new-tab_duckduckgo-search-button-text {
    transition: var(--fast-transition);
    padding: 0 15px;
    vertical-align: 2px;
    font: 20px Duckduck, emoji;
    color: #999;
}

.new-tab_duckduckgo-logo.en_local,
.new-tab_duckduckgo-logo {
    transition: var(--slow-transition);
    background-image: url("../../svgs/duckduckgo-logo-black.svg");
    width: 300px;
    height: 200px;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
}

.new-tab_duckduckgo-logo.en_local.dark,
.new-tab_duckduckgo-logo.dark {
    transition: var(--slow-transition);
    background-image: url("../../svgs/duckduckgo-logo-white.svg");
}

@font-face {
    font-family: "Duckduck";
    src: local("Duckduck"), url(../../fonts/ddg-serp-icons.woff) format('woff');
}
