@import "../constatnts/constants.css";

.new-tab {
    transition: 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-tab.dark {
    transition: 1s;
    background: var(--dark-color);
}
