.new-tab__search-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-tab__search-engine.yandex {}

.new-tab__search-engine.google {}

.new-tab__search-engine.duckduckgo {
    position: relative;
    bottom: 36px;
}

.new-tab__search-engine_logo {
    display: flex;
    margin-bottom: 24px;
}

.new-tab__search-engine_logo svg {
    width: 100%;
}

.new-tab__search-engine_logo.yandex {}

.new-tab__search-engine_logo.yandex svg path:first-child {
    transition: var(--slow-transition);
    fill: #000;
}

.new-tab__search-engine_logo.yandex.dark svg path:first-child {
    transition: var(--slow-transition);
    fill: var(--light-color);
}

.new-tab__search-engine_logo.google {}

.new-tab__search-engine_logo.duckduckgo {
    margin-bottom: 64px;
}

.new-tab__search-engine_logo.duckduckgo svg {
    transition: var(--slow-transition);
}

.new-tab__search-engine_logo.duckduckgo.dark svg g {
    transition: var(--slow-transition);
    fill: var(--light-color);
}

.new-tab__search-engine_form {
    min-width: 50vw;
    height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.new-tab__search-engine_form.yandex {
    border-radius: 0.625rem;
    background: var(--ya-color);
}

.new-tab__search-engine_form.google {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    background-color: var(--light-color);
}

.new-tab__search-engine_form.duckduckgo {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    background-color: var(--light-color);
}

.new-tab__search-engine_input {
    width: 100%;
    height: 100%;
    font: 17px Arial, Helvetica, sans-serif;
}

.new-tab__search-engine_input::placeholder {
    color: var(--input-placeholder-color);
}

.new-tab__search-engine_input.ant-input:focus,
.new-tab__search-engine_input.ant-input:hover {
    border-color: transparent;
    box-shadow: none;
}

.new-tab__search-engine_input.yandex {
    background-color: var(--light-color);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
    border-inline-end-width: 1px;
}

.new-tab__search-engine_input.google {
    padding: 0 0 0 12px;
    background-color: transparent;
    border: none;
    border-radius: 24px 0 0 24px;
}

.new-tab__search-engine_input.duckduckgo {
    padding: 0 10px;
    background-color: transparent;
    border: none;
}

.new-tab__search-engine_button {
    height: 100%;
    padding: 0;
}

.new-tab__search-engine_button.yandex {
    border-radius: 0 10px 10px 0;
}

.new-tab__search-engine_button.yandex span {
    font: 18px Arial, Helvetica, sans-serif;
    padding: 0 25px;
    vertical-align: 2px;
}

.new-tab__search-engine_button.yandex:focus {
    background: #f0bf00;
}

.new-tab__search-engine_button.google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border-radius: 0 24px 24px 0;
    background-color: var(--light-color);
}

.new-tab__search-engine_button.google span {}

.new-tab__search-engine_button.google.ant-btn-text:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.new-tab__search-engine_button.duckduckgo {
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
}

.new-tab__search-engine_button.duckduckgo span {
    padding: 0 15px;
    font: 18px Duckduck, emoji;
    color: #999;
}

.new-tab__search-engine_button.duckduckgo.ant-btn-text:not(:disabled):hover {
    background-color: #2950BF;
    color: var(--light-color);
}

@font-face {
    font-family: "Duckduck";
    src: local("Duckduck"), url(../../fonts/ddg-serp-icons.woff) format('woff');
}