@import "../constatnts/constants.css";

.new-tab__menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.new-tab__menu-container {
    height: 29px;
    margin: 6px 8px 0 0;
}

.new-tab__menu-popover {
    width: 130px;
}

.new-tab__menu-content_dark-mode {
    margin-bottom: 6px;
    width: 100%;
}

.new-tab__menu-content_dark-switcher {}

.new-tab__menu-icon-yandex,
.new-tab__menu-icon-google,
.new-tab__menu-icon-duckduckgo {
    width: 34px;
    height: 34px;
    transform: rotate(90deg);
    transition: var(--fast-transition);
    cursor: pointer;
}

.new-tab__menu-icon-yandex {
    fill: var(--ya-color)
}

.new-tab__menu-icon-google {
    fill: var(--goo-color);
}

.new-tab__menu-icon-duckduckgo {
    fill: var(--guck-color);
}

.rotate {
    transform: rotate(215deg);
}