@import "../../constants.scss";

.new-tab__checkbox {
  transition: $fast-transition;

  .ant-checkbox-inner {
    transition: $slow-transition;
  }

  &.dark {
    color: $light-color;

    .ant-checkbox-inner {
      transition: $slow-transition;
      border-color: $dark-border-color;
    }

    &>.ant-checkbox:not(.ant-checkbox-checked)>.ant-checkbox-inner {
      background: $dark-color;
    }
  }
}