@import "../../modules/constants.module";

.new-tab__checkbox {
  transition: $fast-transition;
  color: var(--text-color);

  .ant-checkbox-inner {
    transition: $slow-transition;
    border-color: var(--border-color);
  }

  &>.ant-checkbox:not(.ant-checkbox-checked)>.ant-checkbox-inner {
    background: var(--bg-color);
  }
}