@import "../../modules/constants.module";

.new-tab__collapse {
  &-header {
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: $fast-transition;
    color: var(--text-color);

    svg {
      transition: $fast-transition;
      margin-right: 4px;
      stroke: var(--text-color);
      fill: var(--text-color);
    }
  }

  .ant-collapse-expand-icon {
    color: var(--text-color);
  }
}