@import "../../modules/constants.module";

.new-tab__drawer {
  .ant-drawer-header {
    border: none;
  }

  .ant-drawer-footer {
    transition: border-color $slow-transition;
    padding: 0;
  }

  .ant-drawer-wrapper-body {
    transition: $slow-transition;

    &>.ant-drawer-body {
      .ant-collapse {
        transition: $slow-transition;
        background-color: transparent;
        border-top: 1px solid $light-border-color;
        border-radius: 0;

        &>.ant-collapse-item {
          &>.ant-collapse-header {
            &>.ant-collapse-expand-icon {
              &>.ant-collapse-arrow svg {
                transition: transform 0.3s, color $fast-transition;
              }
            }
          }

          &>.ant-collapse-content {
            &>.ant-collapse-content-box {
              padding: 0 16px 18px 36px;
            }
          }
        }
      }
    }

    .ant-drawer-title {
      transition: $fast-transition;
    }
  }

  &.dark {
    .ant-drawer-title {
      transition: $fast-transition;
      color: $light-color;
    }

    .ant-drawer-footer {
      border-top-color: $dark-border-color;
    }

    &>.ant-drawer-wrapper-body {
      &>.ant-drawer-body {
        .ant-collapse {
          border-color: $dark-border-color;
          border-bottom: none;
        }
      }
    }
  }
}