@import "../../modules/constants.module";

.new-tab__input {
  transition: all, border-color $slow-transition, background-color $slow-transition, color $fast-transition;
  color: var(--text-color);
  background-color: var(--bg-color);

  &:not(&:focus),
  &:not(&:focus-within) {
    border-color: var(--border-color);
  }

  .ant-input {
    transition: all, color $fast-transition;
    color: var(--text-color);
    background-color: transparent;
  }

  .ant-input-group-addon {
    transition: all, color $fast-transition;
    color: inherit;
    background-color: var(--overlay-bg-color);
  }
}