@import "../../modules/constants.module";

.new-tab__input {
  position: relative;
  transition: background-color $slow-transition;
  background-color: var(--bg-color);

  &>.new-tab__input_field {
    transition: all, border-color $slow-transition, color $fast-transition;
    color: var(--text-color);
    background-color: transparent;

    &:not(&:focus),
    &:not(&:focus-within) {
      border-color: var(--border-color);
    }

    .ant-input {
      transition: all, color $fast-transition;
      color: var(--text-color);
      background-color: transparent;
    }

    .ant-input-group-addon {
      transition: all, color $fast-transition;
      color: var(--text-color);
      background-color: var(--overlay-bg-color);
    }
  }

  &_label {
    transition: color $slow-transition, transform 0.25s, background-color 0.25s;
    position: absolute;
    z-index: 0;
    color: $input-placeholder-color;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 12px;
    user-select: none;

    &._focused {
      z-index: 1;
      background-color: var(--bg-color);
    }
  }
}