@import "../../modules/constants.module";

.new-tab__modal {
  &>.ant-modal-content {
    background-color: var(--bg-color);

    &>.ant-modal-close {
      color: var(--modal-close-color);
    }

    &>.ant-modal-header {
      background-color: var(--bg-color);

      &>.ant-modal-title {
        color: var(--text-color);
      }
    }

    &>.ant-modal-footer {
      &>.ant-btn-default {
        background-color: var(--bg-color);

        &:not(:hover) {
          color: var(--text-color);
          border-color: var(--menu-border-color);
        }
      }

      &>.ant-btn-primary:disabled {
        color: var(--disabled-text-color);
        border-color: var(--border-color);
        background-color: var(--disabled-bg-color);
      }
    }
  }
}