@import "../../modules/constants.module";

.new-tab__radio {
  color: var(--text-color);

  .ant-radio {
    &:not(.ant-radio-checked)>.ant-radio-inner {
      background: transparent;
    }

    &>.ant-radio-inner {
      border-color: var(--border-color);
    }
  }
}